[[source]]
url = "https://pypi.org/simple"

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "===1.7.1"
torchvision = "==0.8.1"
torchaudio = "==0.7.0"
gym = "==0.17.3"
ffmpeg = "==1.4"
cloudpickle = "==1.6.0"
dataclasses = "==0.6"
future = "==0.18.2"
numpy = "==1.19.4"
pyglet = "==1.5.0"
scipy = "==1.5.4"
typing-extensions = "==3.7.4.3"
Pillow = "==8.0.1"
PyYAML = "==5.3.1"

[dev-packages]

[requires]
python_version = "3.8"
