[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "===1.7.0"
torchvision = "===0.8.1"
torchaudio = "===0.7.0"
gym = "*"
ffmpeg = "*"

[dev-packages]

[requires]
python_version = "3.8"
